<mat-card class="course-card">
    <mat-card-title>{{course.courseName}}</mat-card-title>
    <mat-card-subtitle>{{course.type}}</mat-card-subtitle>
    <mat-card-content>
        <div class="course-card__details--row">
            <div class="course-card__details--key">Course Code</div>
            <div class="course-card__details--value">{{course.courseCode}}</div>
        </div>

        <div class="course-card__details--row">
            <div class="course-card__details--key">Department</div>
            <div class="course-card__details--value">{{course.department}}</div>
        </div>

        <div class="course-card__details--row">
            <div class="course-card__details--key">Pattern</div>
            <div class="course-card__details--value">{{course.pattern}}</div>
        </div>

        <div class="course-card__details--row">
            <div class="course-card__details--key">Academic Year</div>
            <div class="course-card__details--value">{{course.academicYear}}</div>
        </div>

        <div class="course-card__details--row">
            <div class="course-card__details--key">Semester</div>
            <div class="course-card__details--value">{{course.semester}}</div>
        </div>

        <div class="course-card__details--row">
            <div class="course-card__details--key">Division</div>
            <div class="course-card__details--value">{{course.division}}</div>
        </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div class="course-card__actions">
            <button mat-raised-button>
                <mat-icon> insert_chart_outlined</mat-icon> &nbsp;
                Details
            </button>
            <button mat-raised-button color="accent" (click)="openEditModal()">
                <mat-icon>edit</mat-icon> &nbsp; Edit
            </button>
            <button mat-button color="warn" (click)="openDeleteModel()">
                <mat-icon>delete</mat-icon>&nbsp;Delete
            </button>
        </div>
    </mat-card-actions>
</mat-card>